<header class="bk-header clearfix">
	<div class="wrapper">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		{{widget('extendednavigation', 'navigationheader', {})|raw}}
	</div>
</header>